<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyphonecall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.emergencyphonecall.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.DevisionsActivity"
            android:label="@string/title_activity_devisions" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.DistrictsActivity"
            android:label="@string/title_activity_districts" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.ThanaActivity"
            android:label="@string/title_activity_thana" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.CallingActivity"
            android:label="@string/title_activity_calling" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.InputThanaActivity"
            android:label="@string/title_activity_input_thana" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.emergencyphonecall.Tab"
            android:label="@string/title_activity_tab" >
        </activity>
    </application>

</manifest>
